.projects {
  padding: 25px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  display: flex;
}

.heading {
  padding-bottom: 5px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 10px 20px;
  border-radius: 8px;
  height: 450px;
  width: 350px;
}

.project-card-header {
  margin: 10px 0 0 0;
}

.project-card-image {
  padding: 20px;
}

.project-card img {
  width: 200px;
  height: 200px;
}

.project-block {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.project-image img {
  float: left;
  height: 300px;
  width: 300px;
}

.project-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px;
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  margin: 0 0 15px 0;
}

.project-info p {
  color: #74808a;
  margin: 0 0 15px 0;
  font-size: 0.9em;
}

.project-info a {
  padding: 15px;
}

@media (max-width: 780px) {
  .project-info {
    position: relative;
    margin: 0;
    padding: 15px;
    top: auto;
    transform: none;
  }

  .project-image {
    display: none;
  }
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card-container-bottom a {
  margin: 5px 5px 10px 5px;
}

.project-card-container-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
}

.project-tag {
  padding: 5px 7px;
  border-radius: 30px;
  color: #3498db;
  background: #fff;
  border: 1px solid #3498db;
  margin: 2px;
}
