@media (max-width: 780px) {
  .sidebar {
    position: relative;
    height: 100vh;
    background: url(../../static/lead-bg.jpg);
    background-size: cover;
  }
}

@media (min-width: 781px) {
  .sidebar {
    position: fixed;
    width: 33.5%;
    height: 100vh;
    background: url(../../static/lead-bg.jpg);
    background-size: cover;
    text-align: center;
  }
}


.sidebar-content {
  position: relative;
  margin: auto;
  z-index: 10;
  text-align: center;
}

.sidebar-content img {
  border-radius: 50%;
  width: 100%;
  padding: 25px 10px 25px 25px;
  margin: auto;
}

.sidebar h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
  margin: auto;
}

.sidebar h2 {
  color: #a0cfee;
  font-weight: 400;
  font-size: 2em;
  padding-bottom: 20px;
  margin: auto;
}

.sidebar-overlay {
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(33,125,187,0.8);
  z-index: 1;
}

.btn-rounded-white {
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
}

.btn-rounded-white:hover{
  color:#3498db;
  background:#fff;
  text-decoration:none;
}

.sidebar ul {
  margin:5px 0 0 0;
  padding:0
}

.social li {
  display:inline-block;
  font-size:2.5em;
  list-style:none
}

.social a {
  display:block;
  color: #fff;
  padding:10px
}

.social a:hover {
  color: #fff;
}