.experience {
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

.experience h2 {
  color: #374054;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}

.experience-time::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #3498db;
  z-index: 0;
}

.timeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px;
}
